.form-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between elements as needed */
  margin: 15px;
}

.form-field {
  flex: 1; /* Make the inputs take up available space */
}

.submit-button {
  flex-shrink: 0; /* Prevent the button from shrinking */
}

.ui-admin-add-menu {
  margin: 15px;
}

.mat-mdc-card-title {
  margin: 10px;
}

.mat-mdc-card {
  height: 100%;
}

.name-field {
  flex: 2; /* Make the name input twice as wide as the price input */
}

.price-field {
  flex: 1; /* Make the price input take up less space */
}
