.form-row {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between elements as needed */
}

.form-field {
  flex: 1; /* Make the inputs take up available space */
}

.submit-button {
  flex-shrink: 0; /* Prevent the button from shrinking */
}

.ui-admin-add-menu {
  margin: 15px;
}

.mat-mdc-card-title {
  margin: 10px;
}

.name-field {
  flex: 2; /* Make the name input twice as wide as the price input */
}

.price-field {
  flex: 1; /* Make the price input take up less space */
}

.drink-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

.form-row {
  display: flex;
  gap: 1rem;
  
  .form-field {
    flex: 1;
  }
}
