.order-management {
  overflow-x: auto;
  margin: auto;
  padding: 16px;

  .orders-table {
    width: 100%;
    margin-top: 16px;
  }

  .mat-mdc-select {
    width: 100%;
  }
}

mat-expansion-panel-header {
  justify-content: space-between;
  align-items: center;
}

mat-panel-title {
  font-weight: bold;
}

mat-panel-description {
  font-style: italic;
}

.search-box {
  width: 100%;
}

mat-expansion-panel {
  .status-completed {
    background-color: #c5eed8; // light green
  }

  .status-pending {
    background-color: #f5accd; // light pink
  }

  .status-cancelled {
    background-color: #f0f0f0; // light gray
  }
}

.order-management-footer {
  display: flex;
  gap: 50px; /* Space between buttons */
  justify-content: center; /* Align buttons to the right */
}