.order-management {
  overflow-x: auto;
  margin: auto;
  padding: 16px;

  .orders-table {
    width: 100%;
    margin-top: 16px;
  }

  .mat-mdc-select {
    width: 100%;
  }
}
mat-expansion-panel-header {
  justify-content: space-between;
  align-items: center;
}

mat-panel-title {
  font-weight: bold;
}

mat-panel-description {
  font-style: italic;
}
.search-box {
  width: 100%;
}

.status-completed {
  background-color: #D6EADf; // light green
}

.status-pending {
  background-color: #EAC4D5; // light pink
}

.status-cancelled {
  background-color: #f0f0f0; // light gray
}
